body {
    font-family: 'Recursive';
    background-color: #FB6B6B;
}

* {
    box-sizing: border-box;
    word-break: break-word;
}

main {
    width: 100%;
    height: calc(100vh - 99px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 49px;
    /* superior | horizontal | inferior */
    padding: 0 10px 0;
}

.initial-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.initial-page img {
    width: 55px;
    height: 65px;
    margin-top: 90px;
}


.title {
    font-family: 'Righteous';
    width: auto;
    height: 35px;
    font-size: 25px;
    font-weight: normal;
    line-height: 31px;
    letter-spacing: -0.012em;
    text-align: center;
    color: #FFFFFF;
}

.initial-page button {
    font-family: 'Recursive';
    margin-top: 73px;
    width: 171px;
    height: 31px;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #D70900;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 22px;
}

header img {
    width: 26px;
    height: 30px;
}

header p {
    width: 101.59px;
    height: 22px;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 5px;
}


footer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

footer button {
    width: 151px;
    height: 51px;
    background: #FB6B6B;
    border-radius: 5px;
    border: none;
    font-family: 'Recursive';
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 12px;
}

.zap-end {
    position: absolute;
    width: 100%;
    height: 145px;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
    padding-top: 13px;
}

.zap-end .title {
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.zap-end .title img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.zap-end p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 9px;
}

.status-icon {
    display: flex;
    margin-top: 5px;
}

.status-icon img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.deck {
    width: 100%;
    margin-top: 37px;
    display: flex;
    flex-direction: column;
}

.cards{
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-card {
    width: 182px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 13px 13px 13px 6px;
}

.question-card img {
    width: 13px;
    height: 15px;
}

.question-card p {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.opened-card {
    width: 182px;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 13px 6px;
}

.opened-card img {
    width: 20px;
    height: 13px;
    position: absolute;
    bottom: 8px;
    right: 7px;
}

.opened-card p {
    margin-right: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.answer-card {
    width: auto;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 80px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.answer-card p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    margin-top: 5px;
    margin-left: 6px;
}
.answers {
    width: 182px;
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 3px;
    padding-left: 5px;
}

.answers button {
    width: calc(33%);
    min-height: 28px;
    border-radius: 5px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #FFFFFF;
    border: none;
    margin-right: 5px;
}

.answers button:nth-child(1){
    background: #FF3030;
}

.answers button:nth-child(2) {
    background: #FF922E;
}

.answers button:nth-child(3) {
    background: #2FBE34;
}

.hidden{
    display: none;
}

.not-remember {
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 13px 13px 13px 6px;
    pointer-events: none;
}

.not-remember p {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #FF3030;
}

.almost-not-remember {
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 13px 13px 13px 6px;
    pointer-events: none;
}

.almost-not-remember p {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #FF922E;
}

.zap {
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 13px 13px 13px 6px;
    pointer-events: none;
}

.zap p {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #2FBE34;
}
